header {
    text-align: center;
    background: cyan url(/Week8_HTML_CSS_JS/problem-set/homepage/imgs/header.jpg) center;
    border: 2px solid black;
}

#present {
    margin: 10px 100px;
    float: left;
}

#links {
    margin: 10px 100px;
    float: right;
}